################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HousingRecommendationSystem/.vs
/HousingRecommendationSystem/HousingRecommendationSystem/bin
/HousingRecommendationSystem/HousingRecommendationSystem/obj
/HousingRecommendationSystem/CLIPSCLRWrapper/Intermediate
/HousingRecommendationSystem/CLIPSCLRWrapper/Libraries