@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This rule based system will be able to help users to get ideal housing recommendation based on user preference.
    </p>
