@using HousingRecommendationSystem.Models

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Housing Recommendation System</h1>
    @{
        var data = ViewBag.Message;
    }
    <p class="lead">Q: @data.Question</p>
</div>

<div class="row">
</div>